body {
  /* background-color: turquoise; */
  background-image: url("b1.jpg");
  background-size: cover;
}

.head {
  /* border: 1px solid black; */
  width: 50%;
  margin: auto;
  font-weight: 900;
  text-shadow: 2px 2px 4px #000000;
}

#main {
  /* border: 1px solid black; */
  margin-top: 50px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}
#left {
  border: 1px solid black;
  padding: 25px;
  border-radius: 50px;
  cursor: pointer;
  background: #ecf0f3;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px white;
  /* display: inline; */
  /* float: left; */
}
#right {
  border: 1px solid black;
  padding: 25px;
  border-radius: 50px;
  cursor: pointer;
  background: #ecf0f3;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px #cbced1, -10px -10px 15px white;


  /* display: inline; */
  /* float: right; */
}
#cont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 300px;
}
.box {
  /* position: absolute; */
  border: 1px solid black;
  border-radius: 50px;
  padding: 25px;
  width: 450px;
}
.box1 {
  background-color: rgb(191, 91, 216);
  float: left;
  box-shadow: 5px 5px grey, 8px 8px rgb(70, 3, 64);

  /* top: 300px;
  left: 50px; */
}
.box2 {
  background-color: rgb(159, 219, 81);
  float: right;
  box-shadow: 5px 5px grey, 8px 8px rgb(3, 70, 18);


  /* top: 300px;
  left: 750px; */
}
h1 {
  text-align: center;
}
